<style>
  .exercises {
    margin-top: 10vh;
  }

  div.exercise {
    border: 2px solid black;
  }

  .exercise,
  .nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

</style>

<div class="exercises">
  <div class="nav">
    <div class="name">Name</div>
    <div class="description">Description</div>
    <div class="cardio">Cardio?</div>
    <div class="difficulty">Difficulty</div>
    <div class="photo">Photo</div>

  </div>
  <div *ngFor='let ex of exercises' class="exercise">
    <div class="name">{{ex.name}}</div>
    <div class="description">{{ex.description}}</div>
    <div class="cardio">{{ex.cardio}}</div>
    <div class="difficulty">{{ex.difficulty}}</div>
    <div class="photo">photo</div>
  </div>
</div>
