

<div class="xd">

<a href=""><span class="glyphicon glyphicon-arrow-right" id="specArr"></span></a>

<ul class="list-group">
        <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked2">
            
                        <label class="custom-control-label" for="defaultChecked2">Klatka</label>
                </div>

       
        </li>

        <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">Plecki</label>
                </div>         
        </li>
        <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked3">
                        <label class="custom-control-label" for="defaultChecked3">Bicek</label>
                </div>

        </li>
        <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked4">
                        <label class="custom-control-label" for="defaultChecked4">Tricek</label>
                </div>
        </li>

        <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked5">
                        <label class="custom-control-label" for="defaultChecked5">Bareczki</label>
                </div>
        </li>
        <li class="list-group-item bg-gradient-dark">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked6">
                        <label class="custom-control-label" for="defaultChecked6">Nogi</label>
                </div>        
        </li>
        <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked7">
                        <label class="custom-control-label" for="defaultChecked7">ABS</label>
                </div>         
        </li>
        
</ul>

</div>




