
<!--
    <div class="row">
        <div class="col">col</div>
        <div class="w-100"></div>
        <div class="col">col</div>
        <div class="w-100"></div>
        <div class="col">col</div>
    </div>
-->
<div class="xd">


<ul class="list-group">
        <li class="list-group-item list-group-item-primary">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked2">
            
                        <label class="custom-control-label" for="defaultChecked2">Klatka<span class="glyphicon glyphicon-arrow-right"><a href=""></a></span></label>
                </div>

       
        </li>

        <li class="list-group-item list-group-item-secondary">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">Plecki<span class="glyphicon glyphicon-arrow-right"><a href=""></a></span></label>
                </div>         
        </li>
        <li class="list-group-item list-group-item-primary">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked3">
                        <label class="custom-control-label" for="defaultChecked3">Bicek<span class="glyphicon glyphicon-arrow-right"><a href=""></a></span></label>
                </div>

        </li>
        <li class="list-group-item list-group-item-secondary">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked4">
                        <label class="custom-control-label" for="defaultChecked4">Tricek<span class="glyphicon glyphicon-arrow-right"><a href=""></a></span></label>
                </div>
        </li>

        <li class="list-group-item list-group-item-primary">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked5">
                        <label class="custom-control-label" for="defaultChecked5">Bareczki<span class="glyphicon glyphicon-arrow-right"><a href=""></a></span></label>
                </div>
        </li>
        <li class="list-group-item list-group-item-secondary">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked6">
                        <label class="custom-control-label" for="defaultChecked6">Nogi<span class="glyphicon glyphicon-arrow-right"><a href="/excersize/4"></a></span></label>
                </div>        
        </li>
        <li class="list-group-item list-group-item-primary">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked7">
                        <label class="custom-control-label" for="defaultChecked7">ABS<span class="glyphicon glyphicon-arrow-right"><a href=""></a></span></label>
                </div>         
        </li>
        
</ul>

</div>




