@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption&display=swap');
$dark: #171717;
$light: #FFFFFF;


@media screen and(min-width: 800px){

    body{
        display: none;
        font-size: 5vw;
        overflow: scroll;
    }

    .fas fa-star{
        height: 5vh;
        width: 5vw;
    }


}
.wrap{
    background-image: linear-gradient(to bottom left,#222629,#6b6e70);
    height: 100vh;
    
}

body{
    box-sizing: border-box;
    border-radius: 10rem;
    margin-bottom: auto;
    overflow: auto;
}

img {

    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding-top: 2vh;
    width: 70vw;
    height: 40vh;
    border-radius: 3rem;
    
    -webkit-box-shadow: 22px 17px 5px -4px rgba(0,0,0,0.45);
    -moz-box-shadow: 22px 17px 5px -4px rgba(0,0,0,0.45);
    box-shadow: 22px 17px 5px -4px rgba(0,0,0,0.45);

    animation: AniMe 2s infinite;
    z-index: 1;

}

h3{
    text-align: center;
    margin-top: 2rem;

}
h2{
    text-align: center;
    padding-top: 2rem;
}
strong{

  margin-left: 0.5rem;
  font-size: 3vh;
  color: #c6fa7d;

}
.desc{
    line-height: 1rem;
    margin-left: 1vw;
}

.container{
    box-sizing: border-box;
}

@keyframes pulsing{

    0%{      
        color: gold;
    }
    50%{       
        color: black;
    }
    100%{      
        color: gold;
    }
}

@keyframes AniMe{
0%{ transform: translateY(0rem);}
50%{ transform: translateY(-0.5rem);}
100%{ transform: translateY(0rem);}
}

@media only screen and(min-widht: 40rem){
    *{
        img{
            width: 45vw;
        
        }
        
    }

}



@media only screen and (min-width: 50rem){

    *{

        img{
            width: 50vw;
            height: 50vh;
        }
        

    }

}

@media only screen and (min-width: 80rem){

    *{
        font-size: 2rem;
        font-family: 'PT Serif Caption', serif;

        img{
            width: 40vw;
            height: 50vh;
        }


    }

}



