
<div class="wrap">

<app-hamburger-menu></app-hamburger-menu>
    
       
    
<h2>Just do it!</h2>
   


<div id="some">
<strong class="difficulty">Trudność: </strong> 
</div>

<div *ngIf="exercise">


    <img src={{exercise.photo}}>
    <!-- <img src="{{baseURL}}{{exercise.plakat}}" width = "200px" height = "400px">  -->
    <div class="container">

        <h3> <i>{{exercise.name}}</i></h3>

        <strong>Na które partie ciała:</strong>
    
        <p>{{exercise.muscle_group[0]}}</p>
        <strong class="kardio">Czy zrobisz kardio?</strong>
        <strong>Opis ćwiczenia: </strong>
        <p class="desc">{{exercise.description}}</p>



    </div>
</div>
</div>