<div *ngIf="user" class="wrapper">
  <section class="personal">
    <div class="background"></div>
    <div class="backgroundShadow"></div>
    <div class="img"></div>
    <div class="username">
      <p class="name">{{user.user.username}}</p>
      <p class="quote">"Bo siadać na butelce trzeba umieć"</p>
    </div>
  </section>

  <section class="exercises">
    <div *ngFor='let ex of user.exercises' class="exercise">
      <a routerLink="/exercise/{{ex.id}}">
        <p class="description">{{ex.name}}</p>
      </a>
      <div class="free"></div>
      <div [ngSwitch]='ex.difficulty' class="hand-container">
        <div *ngSwitchCase='3'>
          <i class="fas fa-hand-rock"></i><i class="fas fa-hand-rock"></i><i class="fas fa-hand-rock"></i>
        </div>
        <div *ngSwitchCase='2'>
          <i class="fas fa-hand-rock"></i><i class="fas fa-hand-rock"></i><i class="far fa-hand-rock"></i>
        </div>
        <div *ngSwitchCase='1'>
          <i class="fas fa-hand-rock"></i><i class="far fa-hand-rock"></i><i class="far fa-hand-rock"></i>
        </div>
      </div>
    </div>
  </section>
</div>


<style>
  .username p.quote {
    /* opacity: 0; */
    font-size: 15px;
    background-color: #474b4f00;
    border-radius: 5px;
    color: #ddd;
  }

  .hand-container {
    color: #6b6e70;
  }

  .wrapper {
    height: 100vh;
    text-align: center;
  }

  .background {
    background-color: #6b6e70;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 50vh;

    filter: blur(10px);
    -webkit-filter: blur(10px);
  }

  .backgroundShadow {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(130, 130, 130, 0.7);
  }

  .img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 50vw;
    width: 50vw;
    margin: 7vh auto;
    border-radius: 50%;
    background-image: url('../assets/profile_pic.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border: 2px solid white;
    box-shadow: 0 0 2px 2px #6b6e70;
  }

  .username {
    position: absolute;
    bottom: 52vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .username p.name {
    color: #9fe53d;
    font-size: 20px;
    text-transform: lowercase;
    text-transform: capitalize;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 5px;
  }

  .exercises {
    position: relative;
    height: 50vh;
    overflow: scroll;
    z-index: 1;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  .exercise {
    height: 10vh;
    background-color: #222629;
    border-bottom: 2px solid #666;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
  }

  i {
    display: inline-block;
    font-size: 20px;
    padding-left: 2px;
  }

  i:nth-of-type(3) {
    padding-right: 20px;
  }

  i,
  p.description {
    line-height: 10vh;
  }

  p.description {
    padding-left: 5px;
    color: #ddd;
  }

  .free {
    display: inline-block;
  }

  a {
    color: #6b6e70;
  }

  @media (min-width: 360px) {
    .username {
      bottom: 56vh;
    }

    .username p {
      font-size: 30px;
    }
  }

  @media(min-width:411px) {
    .exercises {
      top: -5vh;
      height: 55vh;
    }
  }

  @media(min-width:768px) {
    .username p.name {
      font-size: 30px;
    }

    @media (min-height: 812px) {
      .username {
        bottom: 60vh;
      }
    }

    @media (min-width: 1024px) {
      .username p {
        font-size: 60px;
      }

      .username p.quote {
        /* opacity: 0; */
        font-size: 30px;
      }
    }

    @media (orientation: landscape) {
      .personal {
        width: 50%;
        height: 100vh;
      }

      .exercises {
        position: absolute;
        right: 0;
        top: 50%;
        height: auto;
        width: 50vw;
        transform: translateY(-50%);
      }

      .img {
        position: absolute;
        left: 25%;
        top: 10vh;
        height: 30vw;
        width: 30vw;
      }

      .background {
        width: 100vw;
        height: 100vh;
      }

      .username {
        position: absolute;
        bottom: 15vh;
        left: 25%;
        transform: translateX(-50%);
      }
    }

    .username p.quote {
      background-color: rgba(100, 100, 100, 0.8);
      font-size: 20px;
    }
  }

</style>
