<style>
  .wrapper {
    height: 100vh;
    /* text-align: center; */
  }

  .background {
    background-image: url('../assets/morning.jpg');
    background-repeat: no-repeat;
    background-position: top;
    height: 50vh;
  }

  .img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 50vw;
    width: 50vw;
    margin: 5vh auto;
    border-radius: 50%;
    background-image: url('../assets/profile_pic.jpg');
    background-repeat: no-repeat;
    background-position: top;
    border: 2px solid white;
  }

  .username {
    position: absolute;
    bottom: 55vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .username p {
    color: white;
    font-size: 20px;
  }

  .exercise {
    height: 10vh;
    background-color: #aaa;
    border-bottom: 2px solid #666;
    display: grid;
  }

</style>
<div class="wrapper">
  <div class="background"></div>
  <div class="img"></div>

  <div class="username">
    <p>USERNAME</p>
  </div>
  <section class="exercises">
    <div class="exercise">

    </div>
  </section>
</div>
