.hamburger{
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    position:absolute;
}
.hamburger, .nav{
    transition: transform .3s .1s ease-in-out;
}

.hamburger-active{
    transform: translateX(250px);
}
.hamburger_box{
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
    cursor:pointer !important;
}


@mixin hamburger-line{
    width: 100%;
    height: 3px;
    background-color: $light;
    position: absolute;


}
.hamburger_inner{
    @include hamburger-line;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;


    &::before{

        content: '';
        @include hamburger-line;
        left: 0;
        top: -10px;
        transition: transform .3s  ease-in-out;
        
    }
    &::after{
        content: '';
        @include hamburger-line;
        left: 0;
        top: 10px;
        transition: transform .3s ease-in-out;
        
    }
}
.hamburger_inner::before{
    top: -10px;
}
.hamburger_inner::after{
    top: 10px;
}

.hamburger-active .hamburger_inner{
    background-color: transparent;
}
.hamburger-active .hamburger_inner:before{
    transform: translateY(10px)  rotate(45deg);
}
.hamburger-active .hamburger_inner:after{
    transform: translateY(-10px) rotate(-45deg);
}

.nav{
    height: 100vh;
    width: 250px;
    background-color: $light;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-250px);  
    z-index: 1; 
}
.nav-active{
    transform: translateX(0px);
}
.nav_list{
list-style:none;
margin-top: 50px;
z-index: 2;
}
.nav_item{
    margin-bottom: 20px;
    a{
        text-decoration: none;
        color: $dark;
    }
}