<div class="wrapper">
  <div class="backgroundColor">
    <form [formGroup]="register" (ngSubmit)="submit()">
      <div class="form-group">
        <input type="firstName" placeholder="First Name" class="form-control" id="firstName"
          formControlName="firstName">
      </div>
      <div class="form-group">
        <input type="lastName" placeholder="Last Name" class="form-control" id="lastName" formControlName="lastName">
      </div>
      <div class="form-group">
        <input type="username" placeholder="Username" class="form-control" id="username" formControlName="username">
      </div>
      <div class="form-group">
        <input type="email" placeholder="Email" class="form-control" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control" id="password" formControlName="password1">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Repeat Password" class="form-control" id="repeat-password"
          formControlName="password2">
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <div class="form-group form-check">
      </div>
      <p><b>Already have account?</b><a routerLink="/login"> Log in!</a></p>

    </form>
  </div>
</div>
<style>
  .wrapper {
    height: 100vh;
    background-image: url('../assets/dumbbells1280x853.jpg');
    background-size: cover;
    /* background-position: bottom; */
  }

  .backgroundColor {
    height: 100vh;
    /* background-color: rgba(200, 200, 200, 0.7); */
    background-color: #474b4f84;

  }

  form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  i {
    padding: 20px;
    font-size: 30px;
  }

  .btn.btn-primary {
    background-color: #86c232;
    border-color: #86c232;
    transition: .2s;
  }

  .btn.btn-primary:hover {
    background-color: #699927;
    border-color: #699927;
  }

  @media (max-width:533px) and (orientation: landscape) {
    * {
      font-size: 14px;
    }

  }

</style>
