<app-hamburger-menu></app-hamburger-menu>
<div class="wrapper">
  <div class="backgroundColor">
    <form [formGroup]="login" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="username"></label>
        <input type="username" placeholder="Username" class="form-control" id="email" formControlName="username">
      </div>
      <div class="form-group">
        <label for="pwd"></label>
        <input type="password" placeholder="Password" class="form-control" id="pwd" formControlName="password">
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"><b> Remember me</b>
        </label>
      </div>
      <p><b>Don't have account? </b><a routerLink="/signup"> Sign up!</a></p>


    </form>
  </div>
</div>
<style>
  .wrapper {
    height: 100vh;
    background-image: url('../assets/dumbbells1280x853.jpg');
    background-size: cover;
  }

  .backgroundColor {
    height: 100vh;
    background-color: #474b4f84;

  }

  form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  input {
    width: 300px;
  }

  i {
    padding: 20px;
    font-size: 30px;
  }

  .btn.btn-primary {
    background-color: #86c232;
    border-color: #86c232;
  }

  a {
    color: #86c232;
  }


  @media (max-width:533px) and (orientation: landscape) {
    * {
      font-size: 14px;
    }

  }

</style>
